/* Base */
body {
  line-height: 1.7;
  color: #8c92a0;
  font-weight: 300;
  font-size: 16px; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }

.text-black {
  color: #000; }

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }




.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  font-size: 30px;
  color: #25262a;
  position: relative; }
  .site-section-heading:before {
    display: none;
    content: "";
    left: 0%;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #51eaea; }
  .site-section-heading.text-center:before {
    display: none;
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #51eaea; }

.border-top {
  border-top: 1px solid #edf0f5 !important; }

.site-footer {
  padding: 6em 0; }
  .site-footer ul li {
    margin-bottom: 10px; }
    .site-footer ul li a {
      color: #5c626e; }
      .site-footer ul li a:hover {
        color: #51eaea; }
  .site-footer .footer-heading {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 1rem; }

/* Navbar */
.site-logo a {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 22px;
  color: #000 !important;
  font-weight: 900; }
  .site-logo a:hover {
    text-decoration: none; }

.icons-btn {
  display: inline-block;
  text-align: center; }
  .icons-btn span {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px; }
    @media (max-width: 991.98px) {
      .icons-btn span {
        width: 24px; } }






        

/* Blocks */
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 700px;
    height: calc(100vh); }
  .site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
    min-height: 400px;
    height: 700px; }
  .site-blocks-cover h2 {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    letter-spacing: .2em;
    text-transform: uppercase; }
  @media (max-width: 991.98px) {
    .site-blocks-cover .featured-hero-product {
      margin-top: 10%;
      position: absolute; } }
  .site-blocks-cover h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .site-blocks-cover h1 {
        font-size: 70px; } }
  .site-blocks-cover p {
    color: #fff;
    font-size: 20px;
    line-height: 35px; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    color: #fff;
    line-height: 1.5; }
  .site-blocks-cover.inner-page .site-block-cover-content {
    margin-top: 20%;
    text-align: center; }
    @media (min-width: 768px) {
      .site-blocks-cover.inner-page .site-block-cover-content {
        margin-top: 30%; } }
  .site-blocks-cover .sub-title {
    color: #fff; }
  @media (max-width: 991.98px) {
    .site-blocks-cover .img-1 {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto; } }
  .site-blocks-cover .btn {
    padding: 20px 30px; }

.site-blocks-1 {
  border-bottom: 1px solid #edf0f5; }
  .site-blocks-1 .divider {
    position: relative; }
    .site-blocks-1 .divider:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      right: 10px;
      background: #edf0f5; }
    .site-blocks-1 .divider:last-child:after {
      display: none; }
  .site-blocks-1 .icon span {
    position: relative;
    color: #6c757d;
    top: -10px;
    font-size: 50px;
    display: inline-block; }
  .site-blocks-1 .text h2 {
    color: #25262a;
    letter-spacing: .05em;
    font-size: 18px; }
  .site-blocks-1 .text p:last-child {
    margin-bottom: 0; }

.site-blocks-2 .block-2-item {
  display: block;
  position: relative; }
  .site-blocks-2 .block-2-item:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
  .site-blocks-2 .block-2-item .image {
    position: relative;
    margin-bottom: 0;
    overflow: hidden; }
    .site-blocks-2 .block-2-item .image img {
      margin-bottom: 0;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
  .site-blocks-2 .block-2-item .text {
    z-index: 2;
    bottom: 0;
    padding-left: 20px;
    position: absolute;
    width: 100%; }
    .site-blocks-2 .block-2-item .text > span, .site-blocks-2 .block-2-item .text h3 {
      color: #fff; }
    .site-blocks-2 .block-2-item .text > span {
      font-size: 12px;
      letter-spacing: .1em;
      font-weight: 900; }
    .site-blocks-2 .block-2-item .text h3 {
      font-size: 40px; }
  .site-blocks-2 .block-2-item:hover .image img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.block-3 .no-direction .owl-nav {
  display: none; }

.block-3 .owl-stage {
  padding-top: 40px;
  padding-bottom: 40px; }

.block-3 .owl-nav .owl-prev, .block-3 .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2rem; }

.block-3 .owl-nav .owl-prev {
  left: 0; }

.block-3 .owl-nav .owl-next {
  right: 0; }

.block-3 .owl-dots {
  text-align: center; }
  .block-3 .owl-dots .owl-dot {
    display: inline-block; }
    .block-3 .owl-dots .owl-dot > span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin: 5px;
      background: #ccc; }
    .block-3 .owl-dots .owl-dot.active > span {
      background: #51eaea; }

.block-3 .product {
  border-right: none !important;
  border-left: none !important; }
  .block-3 .product .item {
    border: 1px solid #eee; }

.block-4 {
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  background: #fff; }
  .block-4 .block-4-text h3 {
    font-size: 20px;
    margin-bottom: 0; }
    .block-4 .block-4-text h3 a {
      text-decoration: none; }

.block-5 ul, .block-5 ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5; }

.block-5 ul li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 15px;
  color: #25262a; }
  .block-5 ul li:before {
    top: 0;
    font-family: "icomoon";
    content: "";
    position: absolute;
    left: 0;
    font-size: 20px;
    line-height: 1;
    color: #51eaea; }
  .block-5 ul li.address:before {
    content: "\e8b4"; }
  .block-5 ul li.email:before {
    content: "\f0e0"; }
  .block-5 ul li.phone:before {
    content: "\f095"; }

.block-6 {
  display: block; }
  .block-6 img {
    display: block; }
  .block-6 h3 {
    font-size: 18px; }
  .block-6 p {
    color: #737b8a; }

.block-7 .form-group {
  position: relative; }

.block-7 .form-control {
  padding-right: 96px; }

.block-7 .btn {
  position: absolute;
  width: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 3px; }

.block-8 .post-meta {
  color: #c4c7ce; }

.block-8 .block-8-sep {
  margin-left: 10px;
  margin-right: 10px; }

.site-blocks-table {
  overflow: auto; }
  .site-blocks-table .product-thumbnail {
    width: 200px; }
  .site-blocks-table thead th {
    padding: 30px;
    text-align: center;
    border-width: 1px !important;
    vertical-align: middle;
    color: #212529;
    font-size: 18px;
    font-weight: normal; }
  .site-blocks-table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: #212529; }
  .site-blocks-table tbody tr:first-child td {
    border-top: 1px solid #51eaea !important; }

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important; }

.site-block-order-table td, .site-block-order-table th {
  color: #000; }

.site-block-top-search {
  position: relative; }
  .site-block-top-search .icon {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .site-block-top-search input {
    padding-left: 40px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }
    .site-block-top-search input:focus, .site-block-top-search input:active {
      padding-left: 25px; }

.site-block-27 ul, .site-block-27 ul li {
  padding: 0;
  margin: 0; }

.site-block-27 ul li {
  display: inline-block;
  margin-bottom: 4px; }
  .site-block-27 ul li a, .site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    color: #000; }
  .site-block-27 ul li.active a, .site-block-27 ul li.active span {
    background: #343a40;
    color: #fff;
    border: 1px solid transparent; }

#slider-range {
  height: 8px; }
  #slider-range .ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none !important;
    background: #51eaea; }
    #slider-range .ui-slider-handle:focus, #slider-range .ui-slider-handle:active {
      outline: none; }
  #slider-range .ui-slider-range {
    background-color: #51eaea; }

.color-item .color {
  width: 14px;
  height: 14px; }

.block-16 figure {
  position: relative; }
  .block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 90px;
    height: 90px;
    background: #fff;
    display: block;
    border-radius: 50%;
    border: none; }
    .block-16 figure .play-button:hover {
      opacity: 1; }
    .block-16 figure .play-button > span {
      position: absolute;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-50%, -45%);
      -ms-transform: translate(-50%, -45%);
      transform: translate(-50%, -45%); }

.block-38 .block-38-header .block-38-heading {
  color: #000;
  margin: 0;
  font-weight: 300; }

.block-38 .block-38-header .block-38-subheading {
  color: #b3b3b3;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: .1em; }

.block-38 .block-38-header img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px; }

.bag {
  position: relative; }
  .bag .number {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    color: #000;
    font-size: 12px;
    background: #51eaea;
    right: -5px; }

.search-wrap {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease; }
  .search-wrap .container {
    position: relative;
    height: 100%; }
  .search-wrap.active {
    opacity: 1;
    visibility: visible; }
  .search-wrap .form-control {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    z-index: 3;
    font-size: 20px; }
    @media (max-width: 991.98px) {
      .search-wrap .form-control {
        font-size: 20px; } }
  .search-wrap .search-close {
    z-index: 4;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .search-wrap .search-close span {
      font-size: 30px; }

.title-section h2 {
  padding-left: 30px;
  border-left: 4px solid #51eaea;
  display: inline-block;
  color: #000; }

.title-section.text-center h2 {
  border-left: none;
  position: relative;
  padding-left: 0px;
  padding-bottom: 20px; }
  .title-section.text-center h2:after {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 4px;
    background: #51eaea;
    content: ""; }

.product-item {
  overflow: hidden;
  height: 100%;
  position: relative; }
  .product-item .product-category {
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    color: #000;
    z-index: 8;
    top: 60%;
    left: 50%;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .product-item .product-category span {
      color: #ced4da;
      font-size: 12px; }
    .product-item .product-category:hover {
      background: #000;
      color: #fff; }
      .product-item .product-category:hover span {
        color: rgba(255, 255, 255, 0.5); }
  .product-item.full-height {
    height: 100% !important; }
    @media (max-width: 991.98px) {
      .product-item.full-height {
        height: 300px !important;
        margin-bottom: 30px; } }
  .product-item.bg-gray {
    background: #f9f9f9; }
  .product-item.sm-height {
    height: 300px;
    padding: 40px; }
  .product-item.md-height {
    height: 700px;
    padding: 40px; }
  .product-item img {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    -ms-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    position: absolute; }

.item-entry .product-item {
  margin-bottom: 30px; }

.item-entry .item-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0; }
  .item-entry .item-title a {
    color: gray; }
    .item-entry .item-title a:hover {
      color: #000; }

.item-entry .item-price {
  color: #000;
  font-weight: normal; }
  .item-entry .item-price del {
    color: #b3b3b3; }

.custom-border-bottom {
  border-bottom: 1px solid #f9f9f9; }

.custom-border-top {
  border-top: 1px solid #f9f9f9; }

.height-auto {
  height: auto !important; }

.featured-hero-product {
  text-align: center; }
  .featured-hero-product h1, .featured-hero-product h4 {
    color: #000; }
  .featured-hero-product h1 {
    font-size: 4rem;
    letter-spacing: 1rem; }
    @media (max-width: 991.98px) {
      .featured-hero-product h1 {
        font-size: 2rem; } }
  .featured-hero-product h4 {
    font-size: 1rem; }
  .featured-hero-product .price {
    font-size: 2rem;
    color: #000; }
    @media (max-width: 991.98px) {
      .featured-hero-product .price {
        font-size: 1.5rem; } }
    .featured-hero-product .price del {
      margin-left: 10px;
      color: #6c757d; }

.border {
  border: 1px solid #eee !important; }
  .border a {
    display: block;
    padding: 30px; }

.item h3 a {
  color: #000; }

.item .price {
  color: #000; }

.tag {
  position: absolute;
  background: #e86b00;
  color: #fff;
  letter-spacing: .2em;
  padding: 7px 20px;
  font-size: .8rem;
  font-weight: 900;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 2;
  -webkit-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
  -ms-transform: rotate(-90deg) translateX(-100%) translateY(-70%);
  transform: rotate(-90deg) translateX(-100%) translateY(-70%); }

.banner-wrap {
  background: #74d12b;
  border-radius: 4px; }
  .banner-wrap a {
    padding: 30px;
    display: block;
    text-align: center; }
    .banner-wrap a h5 {
      font-size: 2rem;
      font-style: italic;
      margin-bottom: 10px; }
    .banner-wrap a h5, .banner-wrap a p {
      color: #fff; }
    .banner-wrap a p {
      color: #fff;
      font-size: 1.4rem; }
      .banner-wrap a p strong {
        font-size: .9rem;
        display: block; }

.banner-1 {
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  padding: 20px;
  display: block;
  min-height: 300px;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
  top: 0; }
  .banner-1:hover {
    top: -10px;
    -webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.4); }
  .banner-1 .banner-1-inner {
    width: 50%; }
    .banner-1 .banner-1-inner h2 {
      color: #000;
      text-transform: uppercase;
      font-weight: 900; }
    .banner-1 .banner-1-inner p {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.2rem; }

.testimony blockquote p {
  color: #000;
  font-family: "Crimson Text", serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-style: italic; }

.bg-image {
  background-size: cover;
  position: relative; }
  .bg-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(81, 234, 234, 0.9);
    z-index: 1; }
  .bg-image > .container {
    position: relative;
    z-index: 2; }

.section-overlap {
  margin-top: -150px; }

.custom-pill .nav-item {
  margin-right: 4px; }
  .custom-pill .nav-item a {
    background: #f4f4f4;
    color: #000 !important; }

.custom-table th {
  color: #000;
  font-weight: normal; }

.custom-table td {
  color: #000; }
